*.sublime-project
*.sublime-workspace
Assignment/01_Perceptron/ML_Perceptron_Simon_ms9144.zip
Assignment/02_Stochastic Gradient Descent/Halfsongha/
Assignment/02_Stochastic Gradient Descent/cs229-notes6.pdf
Assignment/02_Stochastic Gradient Descent/notes_1018.pdf
Assignment/04_Neural Net/PS4-Neural Net Simon ms9144.zip
Assignment/04_Neural Net/PS4-Writeup Simon ms9144.docx
